.main {
  background: #141414;
}
.spacer {
  height: 20px;
}
.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  align-items: center;
  height: 90vh;
  background-color: #141414;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  max-width: 1700px;
  padding: 0 40px;
}
.main__content {
  align-items: right;
  text-align: right;
  margin-top: 4rem;
  z-index: 3;
}
.main__content h1 {
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  line-height: 0.9;
  position: relative;
}
.main__content h2 {
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4d4 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  line-height: 0.9;
  position: relative;
}
.main__content h3 {
  font-size: 2.5rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4d4 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  line-height: 0.9;
  position: relative;
}
.main__content p {
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: 700;
  color: #ffff;
  position: relative;
}
#main__content--p {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: 700;
  color: #ffff;
  position: relative;
}
.main__img--container {
  text-align: center;
  position: relative;
  height: 80vh;
  width: 130%;
}
.main__img--container2 {
  text-align: center;
  position: relative;
  height: 80vh;
  width: 130%;
  margin-left: -30%;
}
.main__img--fade {
  height: 100%;
  width: 100%;
  position: absolute;
  background: -webkit-linear-gradient(
    left,
    rgba(20, 20, 20, 0) 0%,
    rgba(20, 20, 20, 0) 10%,
    rgba(20, 20, 20, 0) 40%,
    rgba(20, 20, 20, 1) 90%
  );
}
.main__img--fade2 {
  height: 100%;
  width: 100%;
  position: absolute;
  background: -webkit-linear-gradient(
    left,
    rgba(20, 20, 20, 1) 0%,
    rgba(20, 20, 20, 1) 10%,
    rgba(20, 20, 20, 0) 60%,
    rgba(20, 20, 20, 0) 90%
  );
}
.main__img--fade3 {
  height: 100%;
  width: 100%;
  position: absolute;
  background: -webkit-radial-gradient(
    circle,
    rgba(20, 20, 20, 0) 0%,
    rgba(20, 20, 20, 0) 40%,
    rgba(20, 20, 20, 1) 100%
  );
}
#main__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: 90% 0;
  z-index: 0;
}
#main__img2 {
  object-fit: cover;
  height: 100%;
  width: 100%;
  margin: auto;
  z-index: 0;
}
#main__content--order
  {
  order: 2;
}
#main__img--order
  {
  order: 1;
}
@media screen and (max-width: 960px) {
  .main__container {
    display: grid;
    grid-template-columns: auto;
    justify-self: center;
    align-items: center;
    height: 90vh;
    margin: 0 auto;
    width: 100%;
    padding-top: 2rem;
  }

  .main__content {
    text-align: center;
    margin-top: -4rem;
  }
  .main__content.second {
    margin-top: -100px;
  }
  .main__content h1 {
    font-size: 2.5rem;
  }
  .main__content h2 {
    font-size: 3rem;
  }
  .main__content h3 {
    font-size: 2rem;
  }
  .main__content p {
    font-size: 1.25rem;
    margin-top: 1rem;
  }
  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
  .main__img--container {
    margin-top: 2vh;
    width: 100%;
    height: 60vh;
    overflow: hidden;
  }
  .main__img--fade {
    background: linear-gradient(
      to bottom,
      rgba(20, 20, 20, 0) 0%,
      rgba(20, 20, 20, 0) 10%,
      rgba(20, 20, 20, 0) 40%,
      rgba(20, 20, 20, 1) 90%
    );
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  .main__img--container2 {
    position: relative;
    text-align: center;
    width: 100%;
    height: 60vh;
    margin-left: 0;
    margin-top: -15vh;
    overflow: hidden;
  }
  .main__img--fade2 {
    background: linear-gradient(
      to top,
      rgba(20, 20, 20, 0) 0%,
      rgba(20, 20, 20, 0) 10%,
      rgba(20, 20, 20, 0) 60%,
      rgba(20, 20, 20, 1) 100%
    );
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  .main__img--fade3 {
    background: linear-gradient(
      to Top,
      rgba(20, 20, 20, 1) 0%,
      rgba(20, 20, 20, 0) 40%,
      rgba(20, 20, 20, 0) 60%,
      rgba(20, 20, 20, 1) 100%
    );
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  #main__img {
    width: 100%;
    height: 100%;
  }
  #main__img2 {
    width: 100%;
    height: 100%;
  }
  #main__content--order
  {
  order: 1;
}
#main__img--order
  {
  order: 2;
}
}
@media screen and (max-width: 480px) {
  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .main__content h2 {
    font-size: 2rem;
  }
  .main__content p {
    margin-top: 2rem;
  }
  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}
